<?xml version="1.0" encoding="utf-8" ?> 
<body copyright="All data copyright Toronto Transit Commission 2025.">
<route tag="7" title="7-Bathurst"/>
<route tag="8" title="8-Broadview"/>
<route tag="9" title="9-Bellamy"/>
<route tag="10" title="10-Van Horne"/>
<route tag="11" title="11-Bayview"/>
<route tag="12" title="12-Kingston Rd"/>
<route tag="13" title="13-Avenue Rd"/>
<route tag="14" title="14-Glencairn"/>
<route tag="15" title="15-Evans"/>
<route tag="16" title="16-McCowan"/>
<route tag="17" title="17-Birchmount"/>
<route tag="19" title="19-Bay"/>
<route tag="20" title="20-Cliffside"/>
<route tag="21" title="21-Brimley"/>
<route tag="22" title="22-Coxwell"/>
<route tag="23" title="23-Dawes"/>
<route tag="24" title="24-Victoria Park"/>
<route tag="25" title="25-Don Mills"/>
<route tag="26" title="26-Dupont"/>
<route tag="28" title="28-Bayview South"/>
<route tag="29" title="29-Dufferin"/>
<route tag="30" title="30-High Park North"/>
<route tag="31" title="31-Greenwood"/>
<route tag="32" title="32-Eglinton West"/>
<route tag="33" title="33-Forest Hill"/>
<route tag="34" title="34-Eglinton East"/>
<route tag="35" title="35-Jane"/>
<route tag="36" title="36-Finch West"/>
<route tag="37" title="37-Islington"/>
<route tag="38" title="38-Highland Creek"/>
<route tag="39" title="39-Finch East"/>
<route tag="40" title="40-Junction-Dundas West"/>
<route tag="41" title="41-Keele"/>
<route tag="42" title="42-Cummer"/>
<route tag="43" title="43-Kennedy"/>
<route tag="44" title="44-Kipling South"/>
<route tag="45" title="45-Kipling"/>
<route tag="46" title="46-Martin Grove"/>
<route tag="47" title="47-Lansdowne"/>
<route tag="48" title="48-Rathburn"/>
<route tag="49" title="49-Bloor West"/>
<route tag="50" title="50-Burnhamthorpe"/>
<route tag="51" title="51-Leslie"/>
<route tag="52" title="52-Lawrence West"/>
<route tag="53" title="53-Steeles East"/>
<route tag="54" title="54-Lawrence East"/>
<route tag="55" title="55-Warren Park"/>
<route tag="56" title="56-Leaside"/>
<route tag="57" title="57-Midland"/>
<route tag="59" title="59-Maple Leaf"/>
<route tag="60" title="60-Steeles West"/>
<route tag="61" title="61-Avenue Rd North"/>
<route tag="62" title="62-Mortimer"/>
<route tag="63" title="63-Ossington"/>
<route tag="64" title="64-Main"/>
<route tag="65" title="65-Parliament"/>
<route tag="66" title="66-Prince Edward"/>
<route tag="67" title="67-Pharmacy"/>
<route tag="68" title="68-Warden"/>
<route tag="69" title="69-Warden South"/>
<route tag="70" title="70-O&apos;Connor"/>
<route tag="71" title="71-Runnymede"/>
<route tag="72" title="72-Pape"/>
<route tag="73" title="73-Royal York"/>
<route tag="74" title="74-Mount Pleasant"/>
<route tag="75" title="75-Sherbourne"/>
<route tag="76" title="76-Royal York South"/>
<route tag="77" title="77-Swansea"/>
<route tag="78" title="78-St Andrews"/>
<route tag="79" title="79-Scarlett Rd"/>
<route tag="80" title="80-Queensway"/>
<route tag="82" title="82-Rosedale"/>
<route tag="83" title="83-Jones"/>
<route tag="84" title="84-Sheppard West"/>
<route tag="85" title="85-Sheppard East"/>
<route tag="86" title="86-Scarborough"/>
<route tag="87" title="87-Cosburn"/>
<route tag="88" title="88-South Leaside"/>
<route tag="89" title="89-Weston"/>
<route tag="90" title="90-Vaughan"/>
<route tag="91" title="91-Woodbine"/>
<route tag="92" title="92-Woodbine South"/>
<route tag="93" title="93-Parkview Hills"/>
<route tag="94" title="94-Wellesley"/>
<route tag="95" title="95-York Mills"/>
<route tag="96" title="96-Wilson"/>
<route tag="97" title="97-Yonge"/>
<route tag="98" title="98-Willowdale-Senlac"/>
<route tag="99" title="99-Arrow Rd"/>
<route tag="100" title="100-Flemingdon Park"/>
<route tag="101" title="101-Downsview Park"/>
<route tag="102" title="102-Markham Rd"/>
<route tag="103" title="103-Mount Pleasant North"/>
<route tag="104" title="104-Faywood"/>
<route tag="105" title="105-Dufferin North"/>
<route tag="106" title="106-Sentinel"/>
<route tag="107" title="107-Alness-Chesswood"/>
<route tag="108" title="108-Driftwood"/>
<route tag="109" title="109-Ranee"/>
<route tag="110" title="110-Islington South"/>
<route tag="111" title="111-East Mall"/>
<route tag="112" title="112-West Mall"/>
<route tag="113" title="113-Danforth"/>
<route tag="114" title="114-Queens Quay East"/>
<route tag="115" title="115-Silver Hills"/>
<route tag="116" title="116-Morningside"/>
<route tag="117" title="117-Birchmount South"/>
<route tag="118" title="118-Thistle Down"/>
<route tag="119" title="119-Torbarrie"/>
<route tag="120" title="120-Calvington"/>
<route tag="121" title="121-Esplanade-River"/>
<route tag="122" title="122-Graydon Hall"/>
<route tag="123" title="123-Sherway"/>
<route tag="124" title="124-Sunnybrook"/>
<route tag="125" title="125-Drewry"/>
<route tag="126" title="126-Christie"/>
<route tag="127" title="127-Davenport"/>
<route tag="129" title="129-McCowan North"/>
<route tag="130" title="130-Middlefield"/>
<route tag="131" title="131-Nugget"/>
<route tag="132" title="132-Milner"/>
<route tag="133" title="133-Neilson"/>
<route tag="134" title="134-Progress"/>
<route tag="135" title="135-Gerrard"/>
<route tag="149" title="149-Etobicoke-Bloor"/>
<route tag="154" title="154-Curran Hall"/>
<route tag="160" title="160-Bathurst North"/>
<route tag="161" title="161-Rogers Rd"/>
<route tag="162" title="162-Lawrence-Donway"/>
<route tag="164" title="164-Castlefield"/>
<route tag="165" title="165-Weston Rd North"/>
<route tag="166" title="166-Toryork"/>
<route tag="167" title="167-Pharmacy North"/>
<route tag="168" title="168-Symington"/>
<route tag="169" title="169-Huntingwood"/>
<route tag="171" title="171-Mount Dennis"/>
<route tag="184" title="184-Ancaster Park"/>
<route tag="185" title="185-Sheppard Central"/>
<route tag="189" title="189-Stockyards"/>
<route tag="191" title="191-Underhill"/>
<route tag="300" title="300-Bloor-Danforth"/>
<route tag="301" title="301-Queen"/>
<route tag="302" title="302-Kingston Rd-McCowan"/>
<route tag="304" title="304-King"/>
<route tag="305" title="305-Dundas"/>
<route tag="306" title="306-Carlton"/>
<route tag="307" title="307-Bathurst"/>
<route tag="310" title="310-Spadina"/>
<route tag="312" title="312-St Clair"/>
<route tag="315" title="315-Evans-Brown&apos;s Line"/>
<route tag="320" title="320-Yonge"/>
<route tag="322" title="322-Coxwell"/>
<route tag="324" title="324-Victoria Park"/>
<route tag="325" title="325-Don Mills"/>
<route tag="329" title="329-Dufferin"/>
<route tag="332" title="332-Eglinton West"/>
<route tag="334" title="334-Eglinton East"/>
<route tag="335" title="335-Jane"/>
<route tag="336" title="336-Finch West"/>
<route tag="337" title="337-Islington"/>
<route tag="339" title="339-Finch East"/>
<route tag="340" title="340-Junction"/>
<route tag="341" title="341-Keele"/>
<route tag="343" title="343-Kennedy"/>
<route tag="352" title="352-Lawrence West"/>
<route tag="353" title="353-Steeles"/>
<route tag="354" title="354-Lawrence East"/>
<route tag="363" title="363-Ossington"/>
<route tag="365" title="365-Parliament"/>
<route tag="384" title="384-Sheppard West"/>
<route tag="385" title="385-Sheppard East"/>
<route tag="386" title="386-Scarborough"/>
<route tag="395" title="395-York Mills"/>
<route tag="396" title="396-Wilson"/>
<route tag="501" title="501-Queen"/>
<route tag="503" title="503-Kingston Rd"/>
<route tag="504" title="504-King"/>
<route tag="505" title="505-Dundas"/>
<route tag="506" title="506-Carlton"/>
<route tag="507" title="507-Long Branch"/>
<route tag="509" title="509-Harbourfront"/>
<route tag="510" title="510-Spadina"/>
<route tag="511" title="511-Bathurst"/>
<route tag="512" title="512-St Clair"/>
<route tag="900" title="900-Airport Express"/>
<route tag="902" title="902-Markham Rd Express"/>
<route tag="903" title="903-Kennedy Stn-Scarborough Express"/>
<route tag="904" title="904-Sheppard-Kennedy Express"/>
<route tag="905" title="905-Eglinton East Express"/>
<route tag="924" title="924-Victoria Park Express"/>
<route tag="925" title="925-Don Mills Express"/>
<route tag="927" title="927-Highway 27 Express"/>
<route tag="929" title="929-Dufferin Express"/>
<route tag="935" title="935-Jane Express"/>
<route tag="937" title="937-Islington Express"/>
<route tag="939" title="939-Finch Express"/>
<route tag="941" title="941-Keele Express"/>
<route tag="944" title="944-Kipling South Express"/>
<route tag="945" title="945-Kipling Express"/>
<route tag="952" title="952-Lawrence West Express"/>
<route tag="953" title="953-Steeles East Express"/>
<route tag="954" title="954-Lawrence East Express"/>
<route tag="960" title="960-Steeles West Express"/>
<route tag="968" title="968-Warden Express"/>
<route tag="984" title="984-Sheppard West Express"/>
<route tag="985" title="985-Sheppard East Express"/>
<route tag="986" title="986-Scarborough Express"/>
<route tag="989" title="989-Weston Express"/>
<route tag="995" title="995-York Mills Express"/>
<route tag="996" title="996-Wilson Express"/>
</body>
